body {
  font-family: verdana;
  font-size: 90%;
}

.page-header {
  text-transform: uppercase;
  text-align: center;
}

img {
  width: 110%;
  height: auto;
}

.recommendations-container {
  width: auto;
  margin: 0px 20px;

}

.product-display {
    display: inline-block;
    align-items: center;
    margin: 20px;
    width: 20%;
}

.product_name {
  text-align: center;
}

.product_price {
  text-align: center;
}
