body {
  font-family: verdana;
  font-size: 90%;
}

.page-header {
  text-transform: uppercase;
  text-align: center;
}

img {
  width: 110%;
  height: auto;
}

.recommendations-container {
  width: auto;
  margin: 0px 20px;
}

.recommendations-container:hover {
  cursor: pointer;
}

.product-display {
    display: inline-block;
    align-items: center;
    margin: 20px;
    width: 20%;
}

.product_name {
  text-align: center;
}

.product_price {
  text-align: center;
}

.product-images {
  width: 60%;
  height: auto;
}

.product-colour {
  width: 5%;
  height: auto
}

.product-sizes {
  display: inline;
  float: left;
  margin-right: 10px;
  border: 1px solid black;
  padding: 1em;
}
