
.custom_modal_title{
    font-weight: bold;
}

.custom_modal_carousel{
    width: 100%;
    min-height: 500px;

    img{
        width: 100%;
    }
}

.custom_modal_nextIcon, .custom_modal_prevIcon{
    color: $col_lightBlack;
    margin: 0;
    font-size: 2.5rem;
    vertical-align: text-bottom;
}

.custom_modal_swatches{
    display: flex;
    margin-bottom: 1rem;

    .custom_modal_swatch{
        margin-right: 0.6rem;
        padding: 0.2rem;
        border-style: solid;
        border-width: 0.1rem;
        transform: scale(1);
        transition: all .1s ease-out;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            background-color: $col_lightgrey;
        }
    }
}

.custom_modal_sizes{
    .custom_modal_size{
        border-style: solid;
        border-width: 0.1rem;
        border-color: $col_lightgrey;
        margin-bottom: 1rem;
        font-size: 1.1em;
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        position: relative; 
        transform: scale(0.9);
        transition: all .1s ease-out;
        
        p{
            font-weight: bold;
            margin-bottom: 0px;
            position: absolute;
            top: 20%;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
        }

        &:hover{
            cursor: pointer;
            transform: scale(1);
            background-color: $col_lightgrey;
        }
    }
}