@import "./variables";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.custom_projects_carousel{
    width: 100%;
    min-height: 500px;

    img{
        width: 100%;
    }
}

.custom_projects_nextIcon, .custom_projects_prevIcon{
    color: $col_lightBlack;
    margin: 0;
    font-size: 2.5rem;
    vertical-align: text-bottom;
}