.recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
  .grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 1155px;
    .product-card {
      margin: 0 5px;
      min-width: 280px;
      max-width: 280px;
      height: 500px;
      overflow: hidden;
    }
    .card-img {
      width: 380px;
      transform: translateX(-50px);
    }
    .card-img:hover{
      cursor: pointer;
    }
  }
}

.void{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.2);
  z-index: 9;
  width: 100vw;
  height: 100vh;
}
.lightbox {
  display: flex;
  background: whitesmoke;
  z-index: 9;
  width: 1155px;
  height: 65vh;
  margin: auto;
  .light-left{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 50%;
  }
  .light-right{
    padding-left: 14px;
    display: flex;
    flex-direction: column;
    width: 50%;
    h5{
    text-align: left;
    }
  }
  .light-img{
    max-height: 100%;
  }
}