nav {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  width: 100vw;
  background-color: white;
  z-index: 99;
  .nav-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 8px;
    .icons {
      max-width: 32px;
      max-height: 32px;
      margin: 0 8px;
    }
  }
  .nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px solid rgb(220,220,220);
    border-bottom: 1px solid  rgb(220,220,220);
    height: 90px;
    a {
      margin: 10px;
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: plum;
    }
  }  
  .nav-search{
    display: flex;
    min-width: 150px;
    height: 40px;
    margin-right: 8px;
    margin-left: auto;
  }

  .mobile-search {
    visibility: hidden;
  }
  .mobile-burger {
    visibility: hidden;
  }

  div.logo {
    background-image: url('https://www.warehouse.co.uk/on/demandware.static/Sites-Warehouse-UK-Site/-/default/dweefb68b5/images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 270px;
    height: 90px;
    margin: 0 10px;
  }
}

// nav dropdown after hovering
.nav-dropdown {
  padding-left: 8px;
  display: none;
  // position: absolute;
  z-index: 2;
  width: 100vw;
  min-height: 0px;
  transition: linear;
  transition-duration: 2s;
  background-color: whitesmoke;
}


@media only screen and (max-width: 800px) {
  h5 {
    margin-top: 1px;
  }
  h4 {
    margin-bottom: 4px;
  }
  nav{
    position: fixed;
    div.logo { 
      background-image: url('https://www.warehouse.co.uk/on/demandware.static/Sites-Warehouse-UK-Site/-/default/dw4a46955d/images/mobile_logo.svg');
      width: 90%;
      margin: 0 auto;
    }
  }
  img.mobile-search {
    visibility: visible;
  }
  img.mobile-burger {
    position: fixed;
    left: 5px;
    visibility: visible;
  }
  div.nav-links{
    display: none;
  }
  div.nav-search{
    display: none;
  }
}


// mobile https://www.warehouse.co.uk/on/demandware.static/Sites-Warehouse-UK-Site/-/default/dw4a46955d/images/mobile_logo.svg
// web https://www.warehouse.co.uk/on/demandware.static/Sites-Warehouse-UK-Site/-/default/dweefb68b5/images/logo.svg

