//Colours
$col_grey: #525254;
$col_lightBlack: #212529;
$col_lightgrey: #cccccc;
$col_navy: #4A81CB;
$col_blue: #00B3E9;
$col_turq: #6FBACE;
$col_darkturq: #16878c;
$col_white: #FFFFFF;
$col_bgturq: #06424C;

//Misc
