@import "./variables";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//Sections
@import "./modal";
@import "./recommendation";

body {
    font-family: 'Roboto', sans-serif;
}

.custom_main_title{
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
}