.App {
  text-align: center;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.5);
  top: 0;
  left: 0;
}

.modal-img {
  width: 30vw;
  height: 30vh;
}
