@import "reset.css";

h1 {
  font-size: 2em;
  line-height: 1.25;
  margin: 1.5rem 0 1.5rem 0;
  color: #0F0E0E;
}

p {
  font-size: 1.2em;
  line-height: 1.75;
}

.recommended-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recommended-name {
  text-align: center;
  width: 25vw;
}
