.modal {
    position: fixed;
    margin: auto;
    background-color: rgba(255,255,255,.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    outline: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .modal-body {
    outline: 1px solid red;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.modal .carousel-container {
    width: 100%;
}

.modal .description {
    margin: 1em;
}

.modal .variants {
    margin-top: .5em;
    display: flex;
}
.modal .variants-color > * {
    width: 1.5em;
    height: 1.5em;
}


.modal .variants-size > * {
    width: 2em;
    height: 2em;
}
