* {
  margin: 0;
  border:0;
  box-sizing: border-box;
}

img {
  height: 200px;
  width: 200px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  /* display: flex; */
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;
  font-weight: 200;
}


#app {
display: flex;
flex-wrap: wrap;
/* overflow-x: scroll; */
scroll-behavior: smooth;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}

.items {
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 20vw;
  padding: 10px;
  margin: 10px;
}

/* put padding on first child to push scroll along */

img{
  width: 200px;
  height: 250px;
}

h2 {
margin: 10px;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  /* opacity: 0.4; */
  z-index: 1;
}

.modal {
  width: 85vw;
  height: 85vh;
  background-color: aqua;
  position: fixed;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-open {
  opacity: 0.4;
}

.swatch {
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}
