* {
  margin: 0;
  border:0;
  box-sizing: border-box;
}

img {
  height: 200px;
  width: 200px;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* padding: 10px; */
}

h1 {
  /* display: flex; */
  text-align: center;
  padding-top: 40px;
}


#app {
display: flex;
flex-wrap: no-wrap;
overflow-x: scroll;
scroll-behavior: smooth;
justify-content: center;
align-items: center;
height: 90vh;
width: 90vw;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  padding: 10px;
  /* background-color: aqua; */
  
}

/* put padding on first child to push scroll along */

img{
  width: 400px;
  height: 60vh;
}

h2 {

}
